#.rst:
# Sample Cake configuration file
# ------------------------------
# 
# For detailed documentation see CakeLoadConfig.cmake
# The list if variables:
#
# ``CAKE_BINARY_DIR_PREFIX``
# ``CAKE_CMAKE_OPTIONS``
# ``CAKE_CMAKE_NATIVE_TOOL_OPTIONS``
# ``CAKE_PKG_CONFIGURATION_TYPES``
# ``CAKE_PKG_CMAKE_OPTIONS``
# ``CAKE_PKG_CMAKE_NATIVE_TOOL_OPTIONS``

set(CAKE_BINARY_DIR_PREFIX ${CMAKE_CURRENT_LIST_DIR}/_b)

set(CAKE_CMAKE_OPTIONS
  -G "Visual Studio 12 Win64"
  -DCAKE_INSTALL_PREFIX=${CMAKE_CURRENT_LIST_DIR}/_i
  "-DCAKE_PREFIX_PATH=${CAKE_INSTALL_PREFIX}\;${CAKE_PORT_INSTALL_PREFIX}"
  )
set(CAKE_CMAKE_NATIVE_TOOL_OPTIONS -j)

set(CAKE_PKG_CONFIGURATION_TYPES Debug Release)
set(CAKE_PKG_CMAKE_OPTIONS
  -G "Visual Studio 12 Win64"
  -DCMAKE_INSTALL_PREFIX=c:/tmp/cakeport
  -DCMAKE_PREFIX_PATH=c:/tmp/cakeport # usually same as CMAKE_INSTALL_PREFIX
  )
set(CAKE_PKG_CMAKE_NATIVE_TOOL_OPTIONS -j)



